.Modal {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    transition: all .3s ease-in;
    animation: animate .3s ease-in;
    transform: translateY(0);
}

@keyframes animate {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

